@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Londrina+Outline&family=Londrina+Shadow&family=Nunito+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700&family=Sacramento&display=swap');

:root {
    --main-color: #EB0A1E;
    --after-hover-color: #d1091b;
    --nav-text-color: #3a3a3a;
    --text-color-white: #FFFFFF;
    --text-color: #222;
    --text-color-gray: #676767;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
}

                            /* header section start */

header{
    width: 100%;
    padding: 1rem 3rem;
    position: fixed;
    border-bottom: 2px solid rgb(177, 177, 177);
    box-shadow: 2px 2px 5px solid gray;
    background-color: white;
    z-index: 999;
}
                            /* navigation bar start */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    cursor: pointer;
    display: block;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    transform: transition 5s;
}
.navbar ul li{
    margin: 0 1rem;
    position: relative; 
}

.navbar ul li::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-color);
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.navbar ul li:hover::after{
    transform: scaleX(1);
}
.navbar a{
    text-decoration: none;
    color: var(--nav-text-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
.dropdown{
    position: absolute;
    /* top: 270%; */
    left: 0;
    font-size: 15px;
}
.dropdown-menu ul{
    margin-top: 2rem;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    color: var(--nav-text-color);
    box-shadow: 1px 2px 5px gray;
    animation: slide 700ms ease-in-out 1;
}
.dropdown-menu ul li{
    margin: 0;
    padding: 0.5rem 1rem;
}
.dropdown-menu ul li:hover{
    background-color: rgb(219, 219, 219);
}

.navbar ul li:hover .dropdown-menu ul{
    display: flex;
} 

@keyframes slide{
    0%{
        transform: translateX(70%);
    }
    100%{
        transform: translateX(0%);
    }
}

                            /* navigation bar end */
                            
                            /* product dropdown start */
.product-dropdown{
    background-color:white;
    position: fixed;
    /* top: 5rem; */
    left: 0;
    width: 100%;
    padding: 5rem 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 15px;
    box-shadow: 0 4px 5px gray;
    transform: scaleY(0);
    transition: scale 3s ease-in;
}
.navbar ul li:hover .product-dropdown{
    display: flex;
    transform: scaleY(1);
}

.product-dropdown ul{
    display: flex;
    color: var(--nav-text-color);
    font-weight: bold;
}
.products{
    /* margin: 0 1rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.product-dropdown ul li{
    position: relative;
    cursor: pointer;
}
.product-dropdown ul li::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-color);
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.product-dropdown ul li:hover::after{
    transform: scaleX(1);
}
.product-dropdown ul li:hover{
    color: var(--after-hover-color);
}
.products img{
    height: 130px;
    width: 210px;
    display: block;
    /* margin: 5px 5px; */
    object-fit: contain;
}
.product-item{
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
    color: var(--text-color-gray);
    padding: 5px;
    position: relative;
    cursor: pointer;
}
.product-item:hover{
    color: var(--main-color);
}
.product-item::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-color);
    height: 2px;
    width: 0;
    transition: width 0.5s ease-in-out;
}
.product-item:hover::after{
    width: 100%;
}

                            /* product dropdown end */

.toggle-menu{
    position: absolute;
    right: 0;
    margin-right: 3rem;
    font-size: 25px;
    z-index: 100;
    color: var(--main-color);
    display: none;
}

.search-bar{
    display: none;
    align-items: center;
    gap: 10px;
    /* border: 1px solid ; */
    padding: 0.5rem 1rem;
    z-index: 100;
   margin:0 auto ;
   transition: 2s;
}
.search-bar input{
    height: 3rem;
    border-radius: 50rem;
    border: 1px solid rgb(219, 219, 219);
    padding-left: 1rem;
    font-size: 15px;
    color: var(--nav-text-color);
    
}
.search-bar i{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}

#buy-btn{
    display: block;
    padding: 15px 8px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    color: var(--text-color-white);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
}
#buy-btn:hover{
    background-color: var(--after-hover-color);
}
#buy-btn i{
    font-size: 15px;
    margin-right: 2px;
}

@media (width <= 750px) {
    #buy-btn{
        display: none;
    }
    .navbar ul{
        display: none;
    }
    .toggle-menu{
        display: block;
    }
    .search-bar{
        display: flex;
    }
    .dropdown-menu{
        display: none;
    }
    .product-dropdown{
        display: none;
    }
}
@media (width <= 500px) {
    .search-bar{
        display: none;
    }
}
                            /* header section end */

                            /* main section start */

main{
    height: 85vh;
    width: 100%;
    position: absolute;
    top: 5rem;
}

                            /* main image scroll start */

.image-scroll{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column;
    position: absolute; */
}
.image{
    display: none;
    /* z-index: -5; */
    /* height: 80vh; */
}
.image img{
    /* height: 80vh; */
    /* position: absolute; */
    /* display: none; */
    width: 100%;
}
#prev{
    position: absolute;
    color: gray;
    top: 43%;
    left: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    user-select: none;
    /* z-index: -5; */
}
#next{
    position: absolute;
    color: gray;
    top: 43%;
    right: 2rem;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 10px 0 0 10px;
    user-select: none;
    /* z-index: -5; */
}

                            /* main image scroll end */

                            /* quick links and virtual showroom image */

.quick-link-container{
    position: relative;
    /* top: 1rem; */
    width: 100%;
    height: 5rem;
    /* border: 1px solid; */
    padding: 1rem 4rem;
}
.quick-links{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quick-links div{
    border-right: 1px solid;
}

.link {
    font-size: 16px;
    text-transform: uppercase;
    /* border-right: 1px solid gray; */
    padding: 0 3rem 0 3rem;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.link:hover{
    transform: scale(1.1);
}
.link a{
    color: var(--text-color);
    text-decoration: none;
    
}
.link i{
    font-size: 30px;
    vertical-align: middle;
    color: var(--main-color);
    margin-right: 1rem;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}
.link i:hover {
   transform: rotate(20deg);
}

.quick-link-1{
    padding-left: 0px;
}

/* hr{
    height: 100%;
    width: 2px;
    background-color: var(--text-color);
} */

.virtual-showroom-image{
    padding:0 0 1rem 0;
}
.virtual-showroom-image img{
    height: 100%;
    width: 100%;
}
                            /* quick links and virtual showroom image end*/

.cards-section{
    /* border: 1px solid; */
    padding: 1rem 2rem;
    letter-spacing: 2px;
    color: var(--text-color);
    margin: 1rem 0;
}
.cards-heading{
    /* border: 1px solid; */
    text-align: center;
    text-transform: uppercase;
    word-spacing: 10px;
    margin-bottom: 20px;
}
.cards-container{
    /* border: 1px solid;    */
    /* width: 90%; */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.card-slider{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 15px;   
}
.card{
    /* border: 1px solid; */
    border-radius: 15px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 1rem 0;
    gap: 1rem;
    box-shadow: 2px 2px 10px gray;
    text-align: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.04);
}

.img {
    height: 160px;
    width: 235px;
    object-fit: cover;
    /* border: 1px solid */
}
.img img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.btn{
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
    height: 3rem;
    width: 9rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    color: var(--text-color-white);
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--after-hover-color);
}
.btn i{
    font-size: 15px;
    vertical-align: middle;
    /* margin-left: 5px; */
}

.move-btns{
    /* z-index: 5; */
    /* overflow: hidden; */
    font-size: 25px;
    cursor: pointer;
}
#left{
    position: absolute;
    /* float: left; */
    bottom: 50%;
    left:7rem;

}
#right{
    position: absolute;
    /* float: right; */
    bottom: 50%;
    right: 7rem;
}

                            /* form section */

.form-section{
    /* border: 1px solid; */
    width: 100%;
    position: relative;
    margin: 1rem 0;
    padding: 1rem 0;
}
.form-content{
    width: 70%;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex;
    /* padding: 1rem; */
    gap: 2rem;
    box-shadow: 2px 2px 15px gray;
}
.form-content h1{
    font-size: 30px;
    text-align: center;
    /* margin: 1rem 0; */
    color: var(--main-color);
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 1rem;
}
.form-content h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    height: 3px;
    width: 50%;
    background-color: var(--main-color);
    transform: scaleX(0.5);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}
.form-content h1:hover::after{
    transform: scaleX(1);
}
.mobile-email{
    display: flex;
    gap: 52px;
}
.mobile-email input{
    width: 45%;
}
.enquiry-form{
    width: 55%;
    display: flex;
    flex-direction: column;
    /* text-transform: capitalize; */
    margin: 0 2rem;
    gap: 1rem;
    font-size: 16px;
    color: var(--text-color);
}
.enquiry-form input, .enquiry-form select{
    height: 3rem;
    /* border-radius: 10px; */
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
}
.enquiry-form select{
    color: var(--text-color);
}
.enquiry-form input::placeholder, .enquiry-form select, textarea::placeholder{
    padding-left:5px;
}
.enquiry-form label{
    margin-top: 1rem;
}
textarea{
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    resize: none;
    margin-top: 1rem;
}
select option{
    margin-bottom: 1rem;
    border: none;
}
input::placeholder, select{
    font-size: 15px;
}
.checkboxes input[type="checkbox"]{
    vertical-align: middle;
    margin-right: 10px;
}
.checkboxes p{
    display: inline-block;
    word-break:keep-all;
    vertical-align: middle;
    width: 94%;
}
#prefix{
    width: 15%;
    margin-right: 1rem;
}
#fullname{
    width: 81%;
}
#submit{
    height: 3rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 16px;
    letter-spacing: 5px;
    border: none;
    background-color: var(--main-color);
    box-shadow: 1px 1px 5px gray;
    transition: all 0.3s ease-in-out;
    color: white;
}
#submit:hover{
    background-color: white;
    color: var(--text-color);
}
.contact-us{
    width: 40%;
    /* height: 100%; */
    /* background-color: red; */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2rem;
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 15rem; */
    gap: 2rem;
}
.contact-content i{
    font-size: 20px;
}
.contact-content i:hover{
    color: var(--main-color);
    transition: 0.3s;
}
.contact-content span{
    margin-left: 1rem;
}
.contact-content > p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 23px;
    text-align: justify;
}

.follow-us{
    padding-bottom: 6rem;
    margin-top: 1rem;
}
.follow-us > p{
    text-transform: uppercase;
}
.follow-us ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
}
.follow-us ul li{
    cursor: pointer;
}
                            /* form section end */


/* main section end */

/* footer start */

footer{
    position: absolute;
    top: 170rem;
    border: 1px solid;
    height: 17rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 2rem;
    background-color: var(--nav-text-color);
    color: rgb(167, 167, 167);
}
footer div h5{
    margin-bottom: 1rem;
    color: white;
    font-size: 18px;
}
.footer-social{
    margin: 0;
}
.footer-social p{
    color: white;
    font-size: 18px;
}
.footer-social ul{
    margin-left: 0;
}
.footer-list{
    list-style-type: none;
}
.footer-list li{
    margin-bottom: 10px;
    text-transform: uppercase ;
    cursor: pointer;
}
.footer-list li:hover{
    opacity: 0.5;
}
.footer-social i{
    font-size: 20px;
}
.copy-right{
    margin-top: 7rem;
}
.footer-logo{
    color: white;
}
.copyright{
    margin-top: 1rem;
}
/* footer end */